body{

}

h1{
  font-size: 2rem;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

/* HEADER */
header{
  background-image: url(../img/pattern.png) ;
  background-color: #4EA0FF;
  background-size: 30%;
}

header .logo{
  padding-top: 50px;
  padding-left: 20px;
}

header .logo img{
  width: 200px;
}
/* HEADER */